@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/themes/default/style.css" />
    <script type="text/javascript" language="javascript" src="/Scripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Scripts/Utility.js"></script>


</head>
<frameset rows="130,*" cols="*" framespacing="0" frameborder="NO" border="0">
	<frame name="menuFrame" src="/Control/header" scrolling="no" >

	<frameset id="activFrameset" rows="*" cols="235,*" framespacing="0" frameborder="NO" border="0">
		<frame id="frmParm" name="frmParm"  src="/Control/menu" scrolling="NO"  >
		<frame name="frame_content" id="frame_contents" src="/Manage/Index">
       
	</frameset>
		
</frameset>


<body>


</body>
</html>
