/* 我的通知/通知列表 */
.ulList{padding:0 0 10px;}
#newlistbox .ulList{border:1px solid #D0CFC7;}
.ulList ul{height:21px;padding-top:10px;}
.ulList ul li{float:left;padding-top:1px;}
.ulList ul li.headline{width:58%;}
.ulList ul li.dept{width:28%;}
.ulList ul li.time{width:12%;text-align:right;}

.ulList .type{width:15%;}
.ulList .topic{width:40%;}
.ulList .demt{width:20%;}
.ulList .date{width:15%;}
.ulList .viewnum{width:10%;}

.noticeStatu1 *{color:#E93616;}
.noticeStatu2 *{color:#1492DA;}
.noticeStatu3 *{color:#67C2EB;}
.noticeStatu4 *{color:#6BBC4F;}
#moreNotice li.headline{width:48%;}
#moreNotice li.dept{width:25%}
#moreNotice li.time{width:12%;text-align:center;}
#moreNotice li.status{width:10%;text-align:center;}
#moreNotice li.del{width:5%;text-align:center;}
#moreNotice li.del img{position:relative;top:-4px;}
#moreNotice ul.noticeHead,
#myask ul.noticeHead{font-weight:bold;border-bottom:1px dashed #ccc;margin-bottom:10px;}
.ulList .ulhead{background:url("images/column.gif") 0 0 repeat-x #FFFFCC;font-size:14px;padding:8px 15px 0;border-bottom:1px solid #D0CFC7;}

#myask li.headline{width:32%;}
#myask li.dept{width:14%;}
#myask li.time{width:14%;}
#myask li.status{width:14%;text-align:center;}
#myask li.del{width:5%;text-align:center;}
#myask li.hasok{width:14%;text-align:center;}
#myask li.edit{width:5%;text-align:center;}
#myask li.del img{position:relative;top:-4px;}
#myask ul.noticeHead,
#newlistbox .ulList ul{padding-left:15px;padding-right:15px;padding-top:10px;}
#myask ul.noticeHead{padding-left:0;padding-right:0;}

.ulover{background-color:#FFFFCC;}
#newlistbox .column{border:none}
.pagebar {clear: both;height: 20px;padding: 10px 0;text-align: center;}
.pageLink {padding: 0 5px 0 0;}
.pageLink li {display: inline;margin: 0 1px;}
.pageLink li a {background: none repeat scroll 0 0 #EEEEEE;border: 1px solid #DDDDDD;color: #000000;font-size: 14px;margin: 0 1px;padding: 1px 5px;}
.pageLink a.c {background: none repeat scroll 0 0 #0085BF;border: 1px solid #006C9C;color: #FFFFFF;}
.pageLink a.prev,
.pageLink a.next {background: none repeat scroll 0 50% transparent;border: 0 none;color: #0085BF;font-weight: bold;margin: 0;overflow: hidden;text-decoration: underline;}
#newlistbox .column .box{padding-top:0;}
.searchbox{padding:0 14px 10px;}
.searchbox dl{padding:0;}
.searchbox dl dt{padding-top:8px;}
.searchbox dl dt.actionText{padding-left:15px;}
