<?xml version="1.0"?>
<appSettings>
  
  <!--第三方代理服务器IP地址,第三方代理服务器端口号,系统代码,终端编号-->
  <add key="SiosIP" value="192.168.10.42" />
  <add key="SiosPort" value="8500" />
  <add key="SiosSysCode" value="4" />
  <add key="SiosTerminalNo" value="4" />
  
  <!--验证模式：独立验证(Freedom)；一卡通身份验证(Card)；身份认证中心验证(Ias)-->
  <add key="RunType" value="Freedom" />
  <!--接入地址-->
  <add key="ConnUrl" value="" />
  <!--系统代码-->
  <add key="SysCode" value="" />
  <!--授权员标志：-->
  <add key="AccreditFlag" value="" />
  <!--超时时长(分钟)-->
  <add key="Overtime" value="240" />
  
  <!--身份验证白名单-->
  <add key="AuthorizeExcept" value="SSO#Login,LoginCheck,Logout,ValidateCode|Shared#All|Control#All" />

  <!--网站名称-->
  <add key="Title" value="校园一卡通统一登录平台V2.0" />
  <add key="SubTitle" value="" />
  <!--版权-->
  <add key="Copyright" value="2014哈尔滨新中新电子股份有限公司" />
  <add key="SubCopyright" value="2014Harbin synjones electronic co.,ltd" />
</appSettings>
