<?xml version="1.0"?>
<appSettings>
  
  <!--验证模式：独立验证(Freedom)；身份认证中心验证(Ias)-->
  <add key="RunType" value="Freedom" />
  <!--接入地址-->
  <add key="ConnUrl" value="" />
  <!--系统代码-->
  <add key="SysCode" value="" />
  <!--授权员标志：-->
  <add key="AccreditFlag" value="" />
  
  <!--身份验证白名单-->
  <add key="AuthorizeExcept" value="SSO#Login,LoginCheck,Logout|Shared#All|Manage#All|Control#All" />

  <!--网站名称-->
  <add key="Title" value="新中新电控系统V2.1" />
  <add key="SubTitle" value="" />
  <!--版权-->
  <add key="Copyright" value="2014哈尔滨新中新电子股份有限公司" />
  <add key="SubCopyright" value="2014Harbin synjones electronic co.,ltd" />
</appSettings>
