/*create date 01/07/2011*/
/*revised date 01/10/2011*/

.banner{
	clear: both;
	margin: 0px auto;
	margin-bottom: 5px;
	width: 950px;
	height: 200px;
	vertical-align: bottom;
}
.banner div,.banner span{
	vertical-align: top;
}
.banner span{
	display: inline-block;
}

.bannerImg{
	background: url("../images/header/banner.png") no-repeat;
	height: 200px;
	width: 374px;
}

.notice{
	height: 200px;
	position: relative;
	width: 530px;
}
span.notice{
	margin-right: 20px;
}
.notice .menu{
	height: 20px;
	left: 0px;
	position: absolute;
	top: 1px;

}

.notice .menu span, .notice .menu .select{
	background: url(../images/header/notice_gray.png) no-repeat 0px -21px;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-right: 2px;
	text-align: center;
	width: 79px;
}

.notice .menu span:hover, .notice .menu .select{
	background-position: 0px 0px;
	color: #8ebe00;
}

.notice .content{
	background-color: #f4f3f9;
	border: 1px solid #b6b6b6;
	height: 170px;
	margin-top: 20px;
	overflow: hidden;
	padding: 5px;
	width: 530px;
}

.notice .content div{
	border-bottom: 1px dotted #8a8a8a;
	height: 20px;
	line-height: 20px;
	margin: 5px 0px;
	padding: 0px 5px;
	padding-bottom: 4px;
	position: relative;
}

.notice .content .bg_blue, .notice .content .bg_red, .notice .content .bg_orange, .notice .content .bg_green{
	background: url(../images/notice_title.png) no-repeat 0px 0px;
	color: #ffffff;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 2px;
	padding-right: 1px;
	text-align: right;
	width: 16px;
}

.notice .content .bg_red{
	background-position: 0px -20px;
}

.notice .content .bg_orange{
	background-position: 0px -40px;
}

.notice .content .bg_green{
	background-position: 0px -60px;
}

.notice .content .date{
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 5px;
	top: 0px;
}

.notice .content .more{
	border: 0px;
	line-height: 16px;
	text-align: right;
}

.notice .content .arrow{
	background: url(../images/arrow_b.gif) no-repeat 0px 3px;
	height: 16px;
	width: 6px;
}






