@charset "utf-8";
/* CSS Document */
/* ad_login */
h2{
	color:#3A5D2A;margin:0 0 0 -10px;padding:0;font-size:20px;
}
#ad{ clear:both; margin:auto; width:962px; height:203px; padding-top:8px;}
#ad_div01{ float:left; width:738px; height:203px;}
#ad_div02{float:right;width:215px;height:200px;border: 1px solid #b1c9a5;background-image: url(../images/index_r2_c2.gif);background-repeat: no-repeat;}
#ad_div02_div01{float:left;width:240px;height:240px; padding-top:15px;}
#ad_div02_div02{float:left;width:215px;height:34px;}
#login_text01{font-family: Arial, Helvetica, sans-serif;font-size: 12px;height:40px;text-align:left;color: #598F41;text-decoration: none;padding-left:6px;font-weight: bold;
}
.login_text01{float:left;font-family: Arial, Helvetica, sans-serif;font-size: 12px;width:60px;text-align:center;line-height:30px;color: #598F41;}
#pd_text01{font-family: Arial, Helvetica, sans-serif;font-size: 12px;height:20px;text-align:left;color: #000000;text-decoration: none;padding-left:76px;
}
#pd_ico{float:left;height:37px;text-align:left;padding-top:10px;text-decoration: none;padding-left:72px;}
.login_text02{float:right;font-family: Arial, Helvetica, sans-serif;font-size: 12px;width:160px;text-align:left;padding-right:5px;color: #598F41;}
.login_type {BORDER-RIGHT: #cccccc 1px solid;BORDER-TOP: #cccccc 1px solid;BORDER-LEFT: #cccccc 1px solid;WIDTH: 150px;LINE-HEIGHT: 20px;BORDER-BOTTOM: #cccccc 1px solid;HEIGHT: 25px;color: #999999;}


#login_div01{ clear:both; margin:auto; width:962px; height:415px; padding-top:8px;}
#login_div02{float:left;width:956px;height:415px;background-image: url(../images/login_r2_c2_bj.jpg);background-repeat: no-repeat;background-position: 10px 10px;}
#login_div03{ float:left; width:450px; height:33px; text-align:right; padding-right:20px;}
#login_div04{ float:right; width:333px; height:335px; padding:40px 10px 10px 70px; text-align:left;}
#login_div05{ float:right; width:333px; height:205px; padding:10px 10px 10px 10px; text-align:left;}
#login_div06{float:right;width:333px;height:50px;text-align:left;padding-top:20px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 19px;color: #4f4d4d;text-decoration: none;margin-left:-15px;margin-right:15px;}
.login_div06{float:right;text-align:left;padding-top:20px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 19px;color: #4f4d4d;text-decoration: none;}
/* зЂВс */
#registered{ clear:both; margin:auto; width:962px; height:auto; padding-top:8px;}
#step{float:left;width:900px;height:30px;padding-left:20px;text-align:left;padding-top:5px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #666666;background-image: url(../images/r2_c5_1.jpg);background-repeat: no-repeat;background-position: right;}
#registered_div1{float:left;width:941px;height:23px;background-image: url(../images/r2_c2.jpg);background-repeat: no-repeat;}
#registered_div2{float:left;width:941px;height:auto;background-image: url(../images/r4_c2_c.jpg);background-repeat: repeat-y;}
#registered_div3{float:left;width:941px;height:15px;background-image: url(../images/r4_c2.jpg);background-repeat: no-repeat;}
#flow{ float:left; width:820px; height:auto; padding:10px 10px 10px 50px; }
#flow_pic{float:left;width:543px;height:40px;background-image: url(../images/r4_c3_t.jpg);background-repeat: no-repeat;}
#name{ float:left; width:543px; text-align:left;}
#name P {MARGIN: 15px; LINE-HEIGHT: 30px
}
#name P LABEL {FLOAT: left;  WIDTH: 80px; PADDING-TOP: 2px; TEXT-ALIGN: left;}
.INPUT {BORDER-RIGHT: #aadafe 1px solid; BORDER-TOP: #aadafe 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #ebf8ff; BORDER-LEFT: #aadafe 1px solid; WIDTH: 180px; COLOR: #2866a3; LINE-HEIGHT: 23px; BORDER-BOTTOM: #aadafe 1px solid; HEIGHT: 23px
}
.INPUT2 {BORDER-RIGHT: #aadafe 1px solid; BORDER-TOP: #aadafe 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #ebf8ff; BORDER-LEFT: #aadafe 1px solid; WIDTH: 100px; COLOR: #2866a3; LINE-HEIGHT: 23px; BORDER-BOTTOM: #aadafe 1px solid; HEIGHT: 23px
}
.d_default {BORDER-RIGHT: #f6fbff 1px solid;PADDING-RIGHT: 0px;BORDER-TOP: #f6fbff 1px solid;PADDING-LEFT: 0px;PADDING-BOTTOM: 2px;MARGIN-LEFT: 98px;BORDER-LEFT: #f6fbff 1px solid;WIDTH: 287px;COLOR: #999999;PADDING-TOP: 2px;BORDER-BOTTOM: #f6fbff 1px solid;font-family: Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}
.regi_go{MARGIN-LEFT: 98px;WIDTH: 287px; padding-top:40px;}

/* a4 */
a.weiter4:link {color: #0080fe;text-decoration: none;font-size:12px}
a.weiter4:visited{color: #0080fe;text-decoration: none;font-size:12px}
a.weiter4:active { color: #0080fe; text-decoration: none; font-size:12px}
a.weiter4:hover {color: #1d8cf9;text-decoration: none;position: relative;right: 0px;top: 0px;font-size:12px}