/*create date 01/07/2011*/
/*revised date 01/10/2011*/


.selfPay .selfPay_bg{
	background: url(../images/selfPay_bg.png) no-repeat;
	display: inline-block;
	cursor: pointer;
	height: 65px;
	margin: 10px;
	position: relative;
	width: 80px;
}

.selfPay .selfPay_bg img{
	height: 48px;
	padding: 10px 15px;
	width: 48px;
}

.selfPay .selfPay_bg .readme{
	bottom: -20px;
	display: inline-block;
	left: 0px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 80px;
}

.selfPay .selfPay_bg:hover{
	color: #8ebe00;
}



